body {
    background-color: lightcyan;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 40px;
    margin-right: 40px;
}

div{
    background-color: lightyellow;
    border: 1px solid darkcyan;
    padding: 20px;
    margin-bottom: 20px;
}

h1{
    color: darkblue;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
}

h2 {
    font-size: 24px;
    font-style: oblique;
}

p {
    font-size: 16px;
    text-align: left;
    font-style: oblique;
}

li{
    font-size: 16px;
    text-align: left;
    font-weight: bold;
}